body {
  margin: 0;
  overflow-x: hidden;
}

.body-overflowY-hide {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.csi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 103;
}

@media only screen and (min-width: 768px) {
  .csi-header {
    height: 80px;
  }
}

.csi-header .csi-logo {
  position: absolute;
  left: 10px;
  top: 20px;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  display: -webkit-box;
  display: flex;
  display: -webkit-inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.csi-header .csi-logo * {
  display: block;
}

.csi-header .csi-logo h2 {
  margin: 0;
}

.csi-header .csi-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding-right: 10px;
  width: 40px;
}

.csi-header .csi-logo.logo-color-change {
  color: white;
}

@media only screen and (min-width: 480px) {
  .csi-header .csi-logo {
    font-size: 18px;
    left: 20px;
  }
  .csi-header .csi-logo img {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-header .csi-logo {
    font-size: 24px;
    left: 30px;
  }
  .csi-header .csi-logo img {
    width: inherit;
  }
}

.header-color-change {
  background-color: white;
  box-shadow: 2px 2px 10px #000000;
}

.header-color-change .csi-logo img {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.header-color-change .csi-logo h2 {
  color: black;
}

.header-color-change .csi-nav-trigger .csi-nav-icon {
  background-color: black;
}

.csi-nav-trigger {
  float: right;
  width: 54px;
  height: 100%;
}

.csi-nav-trigger .csi-nav-icon {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  -webkit-transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s, -webkit-transform 0.3s;
}

.csi-nav-trigger .csi-nav-icon::before, .csi-nav-trigger .csi-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.5s, width 0.3s;
  -webkit-transition: width 0.3s, -webkit-transform 0.5s;
  transition: width 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.3s;
  transition: transform 0.5s, width 0.3s, -webkit-transform 0.5s;
}

.csi-nav-trigger .csi-nav-icon::before {
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.csi-nav-trigger .csi-nav-icon::after {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.csi-header-hide {
  background-color: transparent;
}

.trigger-open .csi-nav-icon {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.trigger-open .csi-nav-icon::before {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.trigger-open .csi-nav-icon::after {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.csi-nav {
  position: fixed;
  z-index: 100;
  width: 0;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: #841016;
  -webkit-transition: visibility 0s 0.8s, opacity 0.5s;
  transition: visibility 0s 0.8s, opacity 0.5s;
}

.csi-nav li a {
  color: #ff3042;
}

.csi-nav .csi-nav-wrapper {
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper {
  display: block;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: distribute;
    box-pack: distribute;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
  position: relative;
  font-size: 0.8em;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
    font-size: 1.1em;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
  position: relative;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li a:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
    text-align: left;
    font-size: 1.2em;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 0.7em;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
  margin-top: 10px;
  margin-bottom: 10px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
    top: 0;
    right: 0;
    margin-top: 30px;
    text-align: right;
    margin-right: 20px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
    margin: 8px;
  }
}

.csi-nav .csi-nav-wrapper .csi-full-block {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
  height: 100%;
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
  display: inline-block;
  height: 100%;
  margin-right: 30px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
    font-size: 30px;
  }
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
    margin-right: 50px;
  }
}

.is-visible {
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body {
  background-color: #d6cfcf;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.csi-login-content {
  width: 100%;
  max-width: 400px;
  background-color: #3b3d56;
  border-radius: 3px;
  box-shadow: 5px 5px 5px #888888;
  margin-left: 20px;
  margin-right: 20px;
}

.csi-login-content .csi-logo {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.csi-login-content .csi-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.csi-login-content .form-group {
  padding: 35px;
  padding-top: 25px;
}

.csi-login-content .form-group .form-col {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.csi-login-content .form-group .form-col span {
  font-size: 27px;
  width: 44px;
  background-color: white;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0.5px solid #b59797;
}

.csi-login-content .form-group .form-col span i {
  vertical-align: middle;
}

.csi-login-content .form-group .form-col input {
  width: 100%;
  height: 44px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0.5px solid #b59797;
  border-left-color: transparent;
}

.csi-login-content .form-group .form-col input:focus {
  outline: none;
  box-shadow: 2px 2px 3px 0 rgba(116, 123, 129, 0.12);
}

.csi-login-content .form-group .submit-col {
  width: 100%;
  font-size: 1.1em;
  font-family: "Open Sans";
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
}

.csi-login-content .form-group .submit-col a {
  color: white;
  font-size: 0.7em;
}

.csi-login-content .form-group .submit-col button {
  height: 44px;
  border: none;
  width: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.2em;
  background-color: #aba3a3;
  color: #575757;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.csi-login-content .form-group .submit-col button:hover {
  background-color: white;
}

/*# sourceMappingURL=login.css.map */
