body {
  margin: 0;
  overflow-x: hidden;
}

.body-overflowY-hide {
  overflow-y: hidden;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.csi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 103;
}

@media only screen and (min-width: 768px) {
  .csi-header {
    height: 80px;
  }
}

.csi-header .csi-logo {
  position: absolute;
  left: 10px;
  top: 20px;
  font-family: "Open Sans";
  font-size: 15px;
  color: white;
  display: -webkit-box;
  display: flex;
  display: -webkit-inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-transition: all 0.5 ease;
  transition: all 0.5 ease;
}

.csi-header .csi-logo * {
  display: block;
}

.csi-header .csi-logo h2 {
  margin: 0;
}

.csi-header .csi-logo img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding-right: 10px;
  width: 40px;
}

.csi-header .csi-logo.logo-color-change {
  color: white;
}

@media only screen and (min-width: 480px) {
  .csi-header .csi-logo {
    font-size: 18px;
    left: 20px;
  }
  .csi-header .csi-logo img {
    width: 50px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-header .csi-logo {
    font-size: 24px;
    left: 30px;
  }
  .csi-header .csi-logo img {
    width: inherit;
  }
}

.header-color-change {
  background-color: white;
  box-shadow: 2px 2px 10px #000000;
}

.header-color-change .csi-logo img {
  -webkit-filter: invert(0);
  filter: invert(0);
}

.header-color-change .csi-logo h2 {
  color: black;
}

.header-color-change .csi-nav-trigger .csi-nav-icon {
  background-color: black;
}

.csi-nav-trigger {
  float: right;
  width: 54px;
  height: 100%;
}

.csi-nav-trigger .csi-nav-icon {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
  -webkit-transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: width 0.3s, top 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s;
  transition: transform 0.3s, width 0.3s, top 0.3s, -webkit-transform 0.3s;
}

.csi-nav-trigger .csi-nav-icon::before, .csi-nav-trigger .csi-nav-icon:after {
  /* upper and lower lines of the menu icon */
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform 0.5s, width 0.3s;
  -webkit-transition: width 0.3s, -webkit-transform 0.5s;
  transition: width 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, width 0.3s;
  transition: transform 0.5s, width 0.3s, -webkit-transform 0.5s;
}

.csi-nav-trigger .csi-nav-icon::before {
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

.csi-nav-trigger .csi-nav-icon::after {
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}

.csi-header-hide {
  background-color: transparent;
}

.trigger-open .csi-nav-icon {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.trigger-open .csi-nav-icon::before {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.trigger-open .csi-nav-icon::after {
  width: 25px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.csi-nav {
  position: fixed;
  z-index: 100;
  width: 0;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow-x: hidden;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: #841016;
  -webkit-transition: visibility 0s 0.8s, opacity 0.5s;
  transition: visibility 0s 0.8s, opacity 0.5s;
}

.csi-nav li a {
  color: #ff3042;
}

.csi-nav .csi-nav-wrapper {
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper {
  display: block;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -moz-flex;
    display: flex;
    -webkit-box-pack: distribute;
    box-pack: distribute;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: distribute;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
  position: relative;
  font-size: 0.8em;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
    font-size: 1.1em;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
  position: relative;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li a:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
    text-align: left;
    font-size: 1.2em;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav li {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
  position: relative;
  margin-top: 50px;
  text-align: center;
  font-size: 0.7em;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
  margin-top: 10px;
  margin-bottom: 10px;
}

.csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
  margin: 5px;
}

@media only screen and (min-width: 768px) {
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
    top: 0;
    right: 0;
    margin-top: 30px;
    text-align: right;
    margin-right: 20px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info li, .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info .address li {
    margin: 8px;
  }
}

.csi-nav .csi-nav-wrapper .csi-full-block {
  margin-top: 30px;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
  height: 100%;
  display: inline-block;
  position: relative;
  font-size: 25px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
  display: inline-block;
  height: 100%;
  margin-right: 30px;
}

.csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li:last-of-type {
  margin-right: 0;
}

@media only screen and (min-width: 480px) {
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
    font-size: 30px;
  }
  .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
    margin-right: 50px;
  }
}

.is-visible {
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.csi-slider {
  position: relative;
  height: 75vh;
  width: 100%;
  top: 0;
  overflow: hidden;
}

@media only screen and (min-width: 480px) {
  .csi-slider {
    height: 90vh;
  }
}

@media only screen and (min-width: 768px) {
  .csi-slider {
    height: 100vh;
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.csi-slider-main {
  height: 100%;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
}

.csi-slider-main li {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.csi-slider-main li.selected {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.csi-slider-main li.selected .csi-slider-container .csi-center-div {
  opacity: 1;
}

.csi-slider-main li.move-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.csi-slider-main li.is-moving, .csi-slider-main li.selected {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.csi-slider-main li:first-of-type {
  background: url("resources/images/vesit.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.csi-slider-main li:nth-of-type(2) {
  background-color: navy;
}

.csi-slider-main li:nth-of-type(3) {
  background-color: #586775;
}

.csi-slider-main li:nth-of-type(4) {
  background-color: olive;
}

.csi-slider-main .transparent {
  z-index: 3;
  background-color: rgba(20, 20, 20, 0.5);
  width: 100%;
  height: 100%;
}

.csi-slider-main .csi-slider-container {
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.csi-slider-main .csi-slider-container .csi-center-div {
  z-index: 4;
  position: absolute;
  top: 0;
  margin: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in 0s;
  transition: opacity 0.5s ease-in 0s;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans";
  color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
}

@media only screen and (min-width: 480px) {
  .csi-slider-main .csi-slider-container .csi-center-div {
    font-size: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-slider-main .csi-slider-container .csi-center-div {
    font-size: 24px;
  }
}

.csi-slider-main .csi-slider-container .csi-center-div .csi-center-contents h2, .csi-slider-main .csi-slider-container .csi-center-div .csi-center-contents h3 {
  margin-bottom: 0;
  text-shadow: 2px 2px 10px #000000;
  font-weight: 500;
}

.csi-slider-main .csi-slider-container .csi-center-div .csi-center-contents h2 {
  margin-top: 0;
  font-size: 1.8em;
}

.csi-slider-main .csi-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.csi-slider-main .csi-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .csi-slider-main .csi-bg-video-wrapper {
    display: block;
  }
}

.csi-slider-main .csi-upcoming-events {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container {
  z-index: 7;
  height: 100%;
  width: 100%;
  max-width: 550px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element {
  margin-top: 7%;
  position: relative;
  width: 100%;
  height: 57%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element .event-image {
  width: 60%;
  height: 100%;
  position: relative;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element .event-image img {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element .event-image img.selected {
  opacity: 1;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content {
  position: relative;
  font-family: "Open Sans";
  font-size: 1.1em;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  box-direction: normal;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  font-size: 1.1em;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .event-content-text {
  display: none;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .button-row {
  font-size: 0.8em;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .button-row .csi-button {
  padding: 0.8em 1em;
  margin-top: 0.8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-weight: 400;
  color: white;
  margin-right: 20px;
  margin-left: 20px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .button-row .csi-button:hover {
  background-color: rgba(106, 34, 44, 0.9);
}

@media only screen and (min-width: 480px) {
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .button-row {
    font-size: 1em;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .button-row .csi-button {
    padding: 1em 1.2em;
  }
}

@media only screen and (min-width: 768px) {
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container {
    max-width: none;
    -webkit-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-direction: normal;
    box-direction: normal;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element {
    margin-top: 0;
    height: 100%;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-element .event-image {
    max-width: 450px;
    width: 80%;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content {
    width: 100%;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .event-content-text {
    position: relative;
    width: 100%;
    margin-bottom: 0.8em;
    display: block;
    text-align: center;
    color: white;
  }
  .csi-slider-main .csi-upcoming-events .csi-upcoming-events-container .event-content .event-content-text h2 {
    font-size: 2.8em;
    font-weight: 300;
    line-height: 1em;
  }
}

.csi-slider-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 10;
}

.csi-slider-nav nav, .csi-slider-nav ul, .csi-slider-nav li, .csi-slider-nav a {
  height: 100%;
}

.csi-slider-nav nav {
  position: relative;
  display: inline-block;
}

.csi-slider-nav nav ul {
  position: relative;
  display: -webkit-box;
  display: flex;
  z-index: 2;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.csi-slider-nav nav ul li {
  width: 80px;
}

.csi-slider-nav nav ul li:first-of-type {
  background-color: maroon;
}

.csi-slider-nav nav ul li:nth-of-type(2) {
  background-color: navy;
}

.csi-slider-nav nav ul li:nth-of-type(3) {
  background-color: #004000;
}

.csi-slider-nav nav ul li:nth-of-type(4) {
  background-color: olive;
}

.csi-slider-nav nav .marker {
  position: absolute;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: white;
  z-index: 3;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.csi-slider-nav nav .marker.item-1 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.csi-slider-nav nav .marker.item-2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.csi-slider-nav nav .marker.item-3 {
  -webkit-transform: translateX(200%);
  transform: translateX(200%);
}

.csi-slider-nav nav .marker.item-4 {
  -webkit-transform: translateX(300%);
  transform: translateX(300%);
}

.csi-footer {
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
  background-color: #1b1b1b;
  color: white;
  font-size: 12px;
  font-family: 'Lato';
}

@media only screen and (min-width: 480px) {
  .csi-footer {
    font-size: 15px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-footer {
    font-size: 20px;
  }
}

.csi-footer .csi-footer-content .footer-social {
  padding-bottom: 30px;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a {
  color: #444444;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.csi-footer .csi-footer-content .footer-social .fotter-social-media-icons li a:hover {
  color: #bdbdbd;
}

@media only screen and (min-width: 480px) {
  .csi-footer .csi-footer-content .footer-social .fotter-social-media-icons {
    font-size: 2.5em;
  }
}

.csi-footer .csi-footer-content .csi-contact-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  flex-wrap: wrap;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info h3 {
  text-align: center;
  width: 100%;
  font-weight: 700;
  font-size: 1.5em;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block {
  width: 100%;
  min-width: 300px;
  line-height: 1.5;
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .footer-text {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block {
    max-width: 430px;
    width: 30%;
    text-align: right;
    margin-bottom: 0;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block:first-of-type {
    border-right: 2px solid white;
  }
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
  display: block;
  width: 100%;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label, .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  text-align: center;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
  padding-bottom: 10px;
}

.csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info {
    display: -webkit-box;
    display: flex;
    width: 100%;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-label {
    padding-right: 10px;
    width: 180px;
    text-align: left;
  }
  .csi-footer .csi-footer-content .csi-contact-info .footer-block .csi-vcard .csi-vcard-info .vcard-value {
    width: 250px;
    text-align: left;
  }
}

.csi-about-us {
  position: relative;
  font-size: 13px;
  line-height: 22.5px;
  font-family: "Open Sans";
  color: black;
  padding-bottom: 50px;
}

.csi-about-us .container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 540px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.csi-about-us .container h1, .csi-about-us .container p {
  text-align: center;
}

.csi-about-us .container h1 {
  font-size: 2em;
  font-weight: normal;
}

.csi-about-us .container p {
  line-height: 1.8em;
  font-weight: 300;
}

@media only screen and (min-width: 480px) {
  .csi-about-us {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-about-us {
    padding-top: 180px;
    padding-bottom: 180px;
    font-size: 21px;
  }
}

.csi-about-us .csi-more-button {
  position: relative;
  width: 100%;
  text-align: center;
}

.csi-about-us .csi-more-button .button {
  border-top-left-radius: 27.5px;
  border-top-right-radius: 27.5px;
  border-bottom-left-radius: 27.5px;
  border-bottom-right-radius: 27.5px;
  border-bottom-left-radius: 27.5px;
  border-top-left-radius: 27.5px;
  border-bottom-right-radius: 27.5px;
  border-top-right-radius: 27.5px;
  position: relative;
  border: 1px solid #1a1a1a;
  padding: 15px 30px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.csi-about-us .csi-more-button .button:hover {
  background-color: #1a1a1a;
  color: white;
}

.csi-sponsors {
  width: 100%;
  position: relative;
  background-color: #c3bfb4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  flex-wrap: wrap;
  -webkit-box-pack: distribute;
  box-pack: distribute;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: distribute;
}

.csi-sponsors .csi-sponsor-holder {
  width: 100px;
  height: 80px;
  margin: 10px;
}

.csi-sponsors .csi-sponsor-holder:last-of-type {
  margin-bottom: 20px;
}

.csi-sponsors .csi-sponsor-holder img {
  width: 100%;
}

.csi-sponsors .csi-all-sponsors {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 40px;
  font-family: "Open Sans";
  font-weight: bold;
}

.csi-sponsors .csi-all-sponsors .csi-all-sponsors-link {
  width: 130px;
  position: absolute;
  right: 0;
  text-align: center;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  position: absolute;
  top: 30%;
}

.csi-sponsors .csi-all-sponsors .csi-all-sponsors-link:hover {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

@media only screen and (min-width: 480px) {
  .csi-sponsors .csi-all-sponsors .csi-all-sponsors-link {
    width: 150px;
  }
}

@media only screen and (min-width: 480px) {
  .csi-sponsors {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .csi-sponsors .csi-sponsor-holder {
    width: 120px;
    height: 100px;
  }
  .csi-sponsors .csi-all-sponsors {
    height: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .csi-sponsors {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .csi-sponsors .csi-sponsor-holder {
    width: 150px;
    height: 120px;
  }
}

@media only screen and (min-width: 1170px) {
  .csi-sponsors {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .csi-sponsors .csi-sponsor-holder {
    width: 200px;
    height: 150px;
    margin: 30px;
  }
}

/*# sourceMappingURL=main_page.css.map */
