@import 'bourbon/bourbon';

@import 'mixins/mixins';

$blackShade: #1b1b1b;

.csi-footer{
	padding-top: 80px;
	padding-bottom: 80px;
	overflow: hidden;
	background-color: #1b1b1b;
	color: white;
	font-size: 12px;
	font-family: 'Lato';
	@include MediaQuery(S){
		font-size: 15px;
		padding-top: 120px;
		padding-bottom: 120px;
	}
	@include MediaQuery(M){
		font-size: 20px;
	}
	.csi-footer-content{
		.footer-social{
			.fotter-social-media-icons{
				width: 100%;
				text-align: center;
				font-size: 2em;
				li{
					margin-left: 10px;
					margin-right: 10px;
					display: inline-block;
					a{
						color: #1b1b1b * 2.5;
						@include transition(all 0.5s ease);
						&:hover{
							color: #1b1b1b * 7;
						}
					}
				}
				@include MediaQuery(S){
					font-size: 2.5em;
				}
			}
			padding-bottom: 30px;

		}
		.csi-contact-info{
			display: flex;
			@include justify-content(center);
			@include flex-wrap(wrap);
			width: 100%;
			h3{
				text-align: center;
				width: 100%;
				font-weight: 700;
				font-size: 1.5em;
			}
			.footer-block{
				width: 100%;
				min-width: 300px;
				line-height: 1.5;
				margin-bottom: 40px;
				padding-left: 50px;
				padding-right: 50px;
				text-align: center;
				.footer-text{
					margin: 0;

				}
				@include MediaQuery(M){
					max-width: 430px;
					width: 30%;
					text-align: right;
					margin-bottom: 0;
					&:first-of-type{
						border-right: 2px solid white;
					}
				}
				.csi-vcard{
					.csi-vcard-info{
						display: block;
						width: 100%;
						.vcard-label, .vcard-value{
							text-align: center;
						}
						.vcard-label{
							padding-bottom: 10px;
						}
						.vcard-value{
							padding-bottom: 20px;
						}

						@include MediaQuery(M){
							display: flex;
							width: 100%;
							.vcard-label{
								padding-right: 10px;
								width: 180px;
								text-align: left;
							}
							.vcard-value{
								width: 250px;
								text-align: left;
							}
						}
					}

				}
			}
		}
	}
}
