@import 'bourbon/bourbon';

@import 'mixins/mixins';

$openSans: "Open Sans";
$merriweather: "Merriweather";
$navyBlueShade: #243040;
$magentaRedShade: #841016;


body{
	margin: 0;
	overflow-x: hidden;

}

.body-overflowY-hide{
	overflow-y: hidden;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style: none;
}

$bg_color: darken(blue, 5%);
.csi-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: transparent;
	@include MediaQuery(M){
		height: 80px;
	}
	@include transition(all 0.5s ease);
	z-index: 103;

	.csi-logo{
		position: absolute;
		left: 10px;
		top: 20px;
		font-family: "Open Sans";
		font-size: 15px;
		color: white;
		display: flex;
		display: -webkit-inline-flex;;
		align-items: center;
		@include transition(all 0.5 ease);
		*{
			display: block;
		}
		h2{
			margin: 0;
		}
		img{
			@include filter(invert(100%));
			padding-right: 10px;
			width: 40px;
		}
		&.logo-color-change{
			color: white;
		}
		@include MediaQuery(S){
			font-size: 18px;
			img{
				width: 50px;
			}
			left: 20px;
		}
		@include MediaQuery(M){
			font-size: 24px;
			img{
				width: inherit;
			}
			left: 30px;
		}
	}

}
.header-color-change{
	background-color: white;
	box-shadow: 2px 2px 10px #000000;
	.csi-logo{
		img{
			@include filter(invert(0));
		}
		h2{
			color: black;
		}
	}
	.csi-nav-trigger{
		.csi-nav-icon{
			background-color: black;
		}
	}
}

.csi-nav-trigger{
	float: right;
	width: 54px;
	height: 100%;

	.csi-nav-icon{
	    position: absolute;
	    @include center(y);
	    right: 15px;
	    width: 25px;
	    height: 2px;
	    background-color: #ffffff;
	    @include transition(transform 0.5s - 0.2s, width 0.5s - 0.2s, top 0.3s);
		&::before, &:after {
			/* upper and lower lines of the menu icon */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-color: inherit;
			@include transition(transform 0.5s, width 0.5s - 0.2s);

		}

		&::before {
			@include transform-origin(right top);
			@include transform(translateY(-8px));
		}

		&::after {
			@include transform-origin(right bottom);
			@include transform(translateY(8px));
		}
	}


}

.csi-header-hide{
	background-color: transparent;
}

.trigger-open{

	.csi-nav-icon{
		background-color: transparent;
		@include transition(background-color .5s);
		&::before {
			width: 25px;
			background-color: white;
			@include transform(rotate(45deg));
			@include transform-origin(center center);
		}

		&::after {
			width: 25px;
			background-color: white;
			@include transform(rotate(-45deg));
			@include transform-origin(center center);
		}
	}

}

.csi-nav{
	position: fixed;
	z-index: 100;
	width: 0;
	height: 0;
	opacity: 0;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow-x: hidden;
	font-size: 24px;
	font-family: $merriweather, serif;
	font-weight: bold;
	background-color: $magentaRedShade;
	@include transition(visibility 0s 0.8s, opacity 0.5s);

	li{
		a{
			color: $magentaRedShade * 3;
		}
	}

	.csi-nav-wrapper{
		position: absolute;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 100px;
		box-sizing: border-box;
		height: 100%;
		width: 100%;

		.csi-main-wrapper{
			display: block;

			@include MediaQuery(M){
				@include display(flex);
				@include justify-content(space-around);
			}
			.csi-half-col{
				position: relative;
				font-size: 0.8em;
				@include MediaQuery(S){
					font-size: 1.1em;
				}
				height: auto;
				.csi-primary-nav{
					position: relative;
					text-align: center;
          li{
            margin-top: 15px;
            margin-bottom: 15px;
            a:hover{
              color: white;
            }
          }
					@include MediaQuery(M){
						text-align: left;
						font-size: 1.2em;
	            li{
	              margin-top: 25px;
	              margin-bottom: 25px;
	            }
					}

				}
				.csi-contact-info{
					position: relative;
					margin-top: 50px;
					text-align: center;
					font-size: 0.7em;

					li, .address{
						margin-top: 10px;
						margin-bottom: 10px;
					}
					.address{
							li{
								margin: 5px;
							}
					}

					@include MediaQuery(M){
						top: 0;
						right: 0;
						margin-top: 30px;
						text-align: right;
						margin-right: 20px;
						li, .address{
							margin-top: 15px;
							margin-bottom: 15px;
						}
						.address{
							li{
								margin: 8px;
							}
						}


					}

				}


			}
		}
		.csi-full-block{
			margin-top: 30px;
			position: relative;
			width: 100%;
			height: 80px;
			text-align: center;
			.csi-social-media-icons{
				height: 100%;
				display: inline-block;
				position: relative;
				font-size: 25px;
				li{
					display: inline-block;
					height: 100%;
					margin-right: 30px;
				}
				li:last-of-type{
					margin-right: 0;
				}
				@include MediaQuery(S){
					font-size: 30px;
					li{
						margin-right: 50px;
					}

				}
			}
		}
	}
}

.is-visible{
	width: 100%;
	height: 100vh;
	opacity: 1;
	visibility: visible;
	transition-delay:0s;
}
