@import 'nav';

@import 'footer';

.row{

  width: 100%;
  position: relative;
  display: table;
  &:first-of-type{
    margin-top: 100px;
  }
  .col1, .col2{
    display: table-cell;
  }
  .col1{
    width: 50%;
  }
  .col2{
    width: 25%;
  }
}
