@import 'nav';

@import 'footer';

$openSans: "Open Sans";
$lato: "Lato";



.csi-sponsors-main{
  width: 100%;
  background-color: #d8d7d7;
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 1.5em;
  @include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-around);
  position: relative;
  .csi-sponsor-title{
    width: 100%;
    font-family: $lato;
    text-align: center;
    h1{
      font-weight: 300;
      font-size: 1.3em;
      @include MediaQuery(S){
        font-size: 1.6em;
      }

      @include MediaQuery(M){
        font-size: 2em;
      }
    }
  }
  .csi-sponsor-content{
    width: 150px;
    background-color: white;
    margin: 30px;
    @include transition(all 0.3s ease);
    &:hover{
      box-shadow: 7px 7px 10px #888888;
    }
    font-family: $openSans;
    .image-container{
      height: 100px;
      margin-bottom: 10px;

      img{
        width: 100%;
      }
    }
    .csi-sponsor-content-info{
      display: none;
      text-align: center;
      padding-left: 10px;
      padding-right: 10px;
      p{
        font-size: 0.85em;
      }
    }
    @include MediaQuery(S){
      width: 200px;
      .image-container{
        height: 150px;
        border-bottom: 1px solid #ccbdbd;
      }
      .csi-sponsor-content-info{
        display: block;
      }
    }

    @include MediaQuery(M){
      width: 250px;
      .image-container{
        height: 200px;
      }
    }

  }
}
